<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<!-- ensure valid HTML with data-ng- directives -->
<div data-ng-app="sampleApp" data-ng-controller="sampleController">
Email: <input type="text" data-ng-model="email"><br>
Password: <input type="password" data-ng-model="password"><br>
<br>
Login: {{email + "/" + password}}

</div>

<script>
// create the module
var app = angular.module('sampleApp', []);

// create the controller 
app.controller('sampleController', function($scope) {
    $scope.email = "John@aol.com";
    $scope.password = "12345";
});
</script>

</body>
</html>
