<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="sample.css">
<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

	<!-- ensure valid HTML with data-ng- directives -->
	<div data-ng-app="sampleApp" data-ng-controller="sampleCtrl">
		<table>
			<tr align="center" >
				<td colspan={{max}}>
					<p>Click the die to move the pawn. 
					<br>Each square you land on earns you the points shown.
					<br>Keep going until you land right on the last square, exactly.
					<br>See how many points you can win!</p>
				</td>
			</tr>
			<tr align="center" >
				<td colspan={{max}} style="height: 105px">
					<div data-ng-hide="end">
						<button data-ng-click="rollDie()"><img src="images/{{ move }}.jpg" /></button>
					</div>
				</td>
			</tr>
			<tr>
				<td data-ng-repeat="square in board" data-ng-switch=square.mark>
					<div data-ng-switch-when=1><img alt="" src="images/pawn.jpg"></div>
				</td>
			</tr>
			<tr>
				<td data-ng-repeat="square in board">
 					<div data-ng-if="square.value > -1" id="board">{{ square.value }}</div>
					<div data-ng-if="square.value === -1" id="white"></div>
				</td>
			</tr>
			<tr align="center" >
				<td colspan={{max}}>
					Score: <input type="text" data-ng-model="score" data-ng-class="{ 'end': end }">
				</td>
			</tr>
			<tr align="center" >
				<td colspan={{max}}>
					<form action="">
						<button data-ng-click="newGame()" id="refresh">New Game</button>
					</form>
				</td>
			</tr>
		</table><br>
		<script src="sampleController.js"></script>
	</div>
</body>
</html>
